[Unit]
Description=Node Metrics Outpost
After=network-online.target consul.service
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/node-outpost
Restart=always
RestartSec=5
Environment="CONSUL_HTTP_ADDR=127.0.0.1:8500"

# Security
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
